.pp-menu {
  display: none;
  list-style: none;
  font-size: $font_size;
  width: 100%;
  max-width: 307px;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    display: block;
  }
}