.pp-size {
  font-family: gilroy, sans-serif;
  font-size: 36px;
  color: $color_red;

  &__name {
    font-weight: 700;
    margin-bottom: 13px;
  }
  &__diameter {

  }
  &__height {

  }

  &__checkbox{
    margin-top: 30px;
  }
}