@font-face {
  font-family: 'gilroy';
  src: url('/fonts/radomir-tinkov-gilroy-extrabold-webfont.woff2') format('woff2'),
  url('/fonts/radomir-tinkov-gilroy-extrabold-webfont.woff') format('woff'),
  url('/fonts/radomir-tinkov-gilroy-extrabold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/radomir-tinkov-gilroy-light-webfont.woff2') format('woff2'),
  url('/fonts/radomir-tinkov-gilroy-light-webfont.woff') format('woff'),
  url('/fonts/radomir-tinkov-gilroy-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}