.pp-screen-intro {
  background-image: url('/images/intro-bg.png');
  background-position: 50% -25px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;

  > * {
    z-index: 2;
  }

  @include phone {
    background-image: none;

    &__left-bg {
      background: url('/images/intro-bg-phone-left.png');
      width: 25%;
      position: absolute;
      left: -15px;
      height: 100%;
      z-index: 1;
      background-size: contain;
    }
    &__right-bg {
      background: url('/images/intro-bg-phone-right.png');
      width: 16%;
      position: absolute;
      right: 0;
      height: 100%;
      z-index: 1;
      background-size: contain;
    }
  }

  &__logo {
    margin-top: 90px;
    margin-bottom: 25px;

    @include phone{
      margin-top: 30px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 564px;

      @include phone {
        width: 64%;
        margin-bottom: 15px;
      }
    }
  }

  &__present {
    margin: -95px auto 0;

    @include phone {
      margin-top: -30px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__button {
    margin-top: -46px;

    @include phone {
      margin-top: 0;
    }
  }

  @include phone {
    .pp-text {
      font-size: 21px;
      line-height: inherit;
    }
  }
}