.pp-screen-intro {
  background-image: url('/images/intro-bg.png');
  background-position: 50% -25px;
  background-repeat: no-repeat;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;

  &__logo {
    margin-bottom: 25px;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 564px;
    }
  }

  &__present {
    margin: -95px auto 0;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__button {
    margin-top: -46px;
  }
}