.pp-screen-reasons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-bottom: 20px;
  }

  .pp-caption {
    margin-bottom: 40px;
    z-index: 2;

    @include phone {
      margin-bottom: 20px;
    }
  }
}