@import "inc/vars";
@import "inc/adaptive-mixins";
@import "inc/mixins";
@import "inc/fonts";
/**
 * Partials
 */
@import "partials/button";
/**
 * Blocks
 */

/**
 * Screens
 */


html, body {
  background: $color_blue;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Gilroy;
}

.page, .content {
  height: 100%;
}

a:active {
  color: inherit;
}