.pp-header {
  font-family: gilroy, sans-serif;
  background: $color_dark_green;
  position: fixed;
  width: 100%;
  z-index: 3;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 930px;
    margin: 0 auto;
    line-height: 77px;

    @include tablet {
      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 0 3%;
    }
  }

  &__button {
    font-size: 20px;
    height: 45px;
  }
  &__phone {
    font-size: 55px;

    @include phone {
      font-size: 40px;
    }

    .fa {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      transition: .25s ease-in-out;

      &.active {
        transform: rotate(137deg);
        transition: .25s ease-in-out;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
  }
  &__menu-switcher {
    font-size: 78px;
  }
  &__callme {
    padding: 0 5%;
    .pp-form{
      padding-bottom: 20px;
    }
    .pp-button{
      width: 100%;
      max-width: 370px;
    }
  }
}