.pp-header {
  font-family: gilroy, sans-serif;
  background: $color_red;
  position: fixed;
  width: 100%;
  z-index: 3;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 930px;
    margin: 0 auto;
    line-height: 77px;

    @include tablet {
      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 0 3%;
    }
  }

  &__button {

  }
  &__phone {
    font-size: 55px;
  }
  &__menu {
    display: flex;
    justify-content: center;
  }
  &__menu-switcher {
    font-size: 78px;
  }
}